<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>LOGIN</title>
</head>
<body>
    <div class="container">
                <div class="logo">
                    <h3 class="tag">Login Now!</h3>
                    <br/>
                    <p class="tag">Let your skills decide your leaderboard!</p>
                </div>
                <div class="box">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input name="username" class="fill" type="text" placeholder="Username">
                        <input name="pass" class="fill" type="password" placeholder="Password">
                        <input id="login" type="submit" value="Log In">
                        <p class="center" id="for-pass"><a href="/signup">Forgotten password?</a></p>
                        <div class="bar"></div>
                        <button><a href="{% url 'signup' %}">Create New Account</a></button>
                    </form>

                </div>
    </div>
</body>
</html>